{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SIPEMERINTAH.com</title>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="font-family: 'Roboto'">
    <style>
        .carousel-item{
            height: 500px;
        } 

        .carousel-item img{
            height: 600px;
        }

        .footer{
            background-color: #72E4E4;
            height: 150px;
        }

        .middle{
            background-color: #1167B1;
            height: 300px;
        }

        .paragraph_index{
            margin: 0px 150px;
            padding: 100px 0px;
            text-align: justify;
            text-indent: 35px;
            color:white;
        }

        .images{
            padding: 20px;
        }

        .social_media{
            padding-top:60px;
        }

        .jumbotron_image{
            background-color: #1167B1;
            background-size: cover;
            background-position: center;
            height: 300px;
            position: relative;
        }

        .faq_main{
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            padding-bottom: 30px;
            padding-right: 30px;
        }

        .nav_font{
            color: grey;
        }

        #search_button{
            margin-left: 20px;
        }
    </style>
    <div>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="{% url 'TK1_home:index' %}">
                <img style="height: 50px;" src="{% static 'images/sipemerintah.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right:50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'TK1_home:index' %}">HOME</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pelayanan</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'TK1_ktp:ktp' %}">Pembuatan KTP</a>
                            <a class="dropdown-item" href="{% url 'add_sim' %}">Pembuatan SIM</a>
                            <a class="dropdown-item" href="{% url 'add_pajak' %}">Pajak Kendaraan</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TK1_faq:faq-index' %}">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid jumbotron_image">
            <div class="container">
                <h1 class="display-4 faq_main">Frequently Asked Question</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <p>Berikut ini kami rangkum daftar pertanyaan yang paling banyak ditanyakan terkait penggunaan web, 
                        pembayaran, serta syarat dan ketentuan yang berlaku.
                    </p>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5>
                            <button class="btn btn-link btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Dari mana saya dapat mengakses website sipemerintah ini?
                            </button>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anda dapat mengakses website ini dimanapun Anda berada dan melalui perangkat elektronik apapun asal Anda terhubung dengan koneksi
                                internet.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5>
                            <button class="btn btn-link btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Apa saja berkas yang perlu dipersiapkan untuk melakukan pembayaran pajak atau pembuatan KTP?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anda dapat melihat berkas-berkas apa saja yang diperlukan pada halaman yang sesuai dengan transaksi 
                                yang anda lakukan. Misal Anda ingin melakukan pembuatan KTP maka pada halaman "Pembuatan KTP" akan tercantum
                                berkas-berkas apa saja yang akan anda perlukan.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5>
                            <button class="btn btn-link btn-light collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Bagaimana cara saya melakukan pembayaran pada website ini?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Anda dapat melakukan pembayaran melalui transfer ke bank ataupun melalui gerai Indomaret terdekat. 
                                Untuk pembayaran pada gerai Indomaret, Anda dapat meminta petugas khusus di Indomaret untuk membantu 
                                Anda melaksanakan pembayaran. Diharapkan untuk menyimpan struk atau bukti pembayaran untuk mengantisipasi 
                                apabila terjadi error pada saat konfirmasi pembayaran agar dapat diverifikasi ulang.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5>
                            <button class="btn btn-link btn-light collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Berapa lama proses pembuatan KTP dan SIM?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Lamanya pembuatan KTP dan SIM adalah maksimal 2 hari kerja, terhitung setelah pembayaran yang Anda lakukan 
                                terkonfirmasi oleh sistem. Akan muncul notifikasi apabila SIM atau KTP telah dibuat. Khusus untuk SIM, apabila anda 
                                menerima notifikasi tersebut harap untuk mendatangi kantor Samsat terdekat untuk melakukan tes. Anda akan 
                                segera mendapatkan SIM Anda apabila Anda lolos tes. Perhatian: apabila setelah 14 hari kerja Anda belum juga 
                                melakukan tes untuk SIM atau mengambil KTP, maka KTP atau SIM Anda akan hangus dan Anda harus melakukan mekanisme 
                                pendaftaran ulang.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5>
                            <button class="btn btn-link btn-light collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Apakah saya dapat membuat SIM dan KTP dan membayar pajak secara bersamaan sekaligus?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Untuk konsistensi pelayanan kami, maka setiap pengguna hanya dapat melakukan salah satu transaksi pada satu waktu, 
                                misal ketika Anda sebelumnya sudah mendaftar untuk membuat KTP maka setelah semua proses pembuatan KTP selesai Anda 
                                baru bisa melakukan pembuatan SIM ataupun membayar pajak.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 40px 0px">
                <div style="margin-top:50px">
                    <p>Apabila masih terdapat pertanyaan diluar pertanyaan-pertanyaan di atas, silakan
                        sampaikan kepada kami dengan cara mengisi formulir di bawah ini lalu tekan 'Submit'.
                    </p>    
                </div>
                <form action="{% url 'TK1_faq:faq-index' %}" method="POST">
                    {% csrf_token %}
                        {{ form }}
                        <br>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-info float-right">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="form-inline" style="margin: 40px 0px">
                    <div style="margin-top: 50px;">
                        <input type="text" class="form-control" id="input" placeholder="Cari pertanyaan Anda...">
                        <a class="btn btn-light float-right " id="search_button" onclick="getInput()">Cari</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="row social_media">
            <div class="col-md-12 text-center">
            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/facebook.png' %}">
            </a>
    
            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/instagram.png' %}">
            </a>
    
            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/whatsapp.png' %}">
            </a>
    
            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/gmail.png' %}">
            </a>
        </div>
    </div>
        
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> SIPEMERINTAH.com</a>
    </div>    
    </div>

</body>
</html>