{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pembayaran Pajak Kendaraan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <style>

        .carousel-item{
            height: 500px;
        }
    
        .carousel-item img{
            height: 600px;
        }
    
        .footer{
            background-color: #72E4E4;
            height: 150px;
        }
    
        .middle{
            background-color: #1167B1;
            height: 300px;
        }
    
        .paragraph_index{
            margin: 0px 150px;
            padding: 100px 0px;
            text-align: justify;
            text-indent: 35px;
            color:white;
        }
    
        .images{
            padding: 20px;
        }
    
        .social_media{
            padding-top:60px;
        }
    
        .jumbotron_image{
            background-color: #1167B1;
            background-size: cover;
            background-position: center;
            height: 300px;
            position: relative;
        }
    
        .faq_main{
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            padding-bottom: 30px;
            padding-right: 30px;
        }
    
        .nav_font{
            color: grey;
        }
    
    </style>
    <div>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="{% url 'TK1_home:index' %}">
                <img style="height: 50px;" src="{% static 'images/sipemerintah.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right:50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'TK1_home:index' %}">HOME</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pelayanan</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'TK1_ktp:ktp' %}">Pembuatan KTP</a>
                            <a class="dropdown-item" href="{% url 'add_sim' %}">Pembuatan SIM</a>
                            <a class="dropdown-item" href="{% url 'add_pajak' %}">Pajak Kendaraan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TK1_faq:faq-index' %}">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid jumbotron_image">
            <div class="container">
                <h1 class="display-4 faq_main">Pembayaran Pajak Kendaraan</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin: 40px 0px">
                <form id="form_1" action="{% url 'add_pajak' %}" method="POST">
                    {% csrf_token %}    
                    <div class="form-group">
                        {{ form_pajak }} 
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>	 
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="row social_media">
            <div class="col-md-12 text-center">
            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/facebook.png' %}">
            </a>

            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/instagram.png' %}">
            </a>

            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/whatsapp.png' %}">
            </a>

            <a class="images" href="{% url 'TK1_home:index' %}">
                <img style="height: 35px;" src="{% static 'images/gmail.png' %}">
            </a>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> SIPEMERINTAH.com</a>
    </div>
    </div> 
</body>
</html>