{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SIPEMERINTAH.com</title>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="font-family: 'Roboto'">
    <style>

    .carousel-item{
        height: 500px;
    }

    .carousel-item img{
        height: 600px;
    }

    .footer{
        background-color: #72E4E4;
        height: 150px;
    }

    .middle{
        background-color: #1167B1;
        height: 300px;
    }

    .paragraph_index{
        margin: 0px 150px;
        padding: 100px 0px;
        text-align: justify;
        text-indent: 35px;
        color:white;
    }

    .images{
        padding: 20px;
    }

    .social_media{
        padding-top:60px;
    }

    .jumbotron_image{
        background-color: #1167B1;
        background-size: cover;
        background-position: center;
        height: 300px;
        position: relative;
    }

    .faq_main{
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        padding-bottom: 30px;
        padding-right: 30px;
    }

    .nav_font{
        color: black;
    }

    </style>

    <div>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="{% url 'TK1_home:index' %}">
                <img style="height: 50px;" src="{% static 'images/sipemerintah.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right:50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'TK1_home:index' %}">HOME</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pelayanan</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'TK1_ktp:ktp' %}">Pembuatan KTP</a>
                                <a class="dropdown-item" href="#">Pembuatan SIM</a>
                                <a class="dropdown-item" href="#">Pajak Kendaraan</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TK1_faq:faq-index' %}">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid jumbotron_image">
            <div class="container">
                <h1 class="display-4 faq_main">Pembuatan KTP</h1>
            </div>
        </div>

    </div>

    <br>
    <br>
    <div class="container pb-5 pt-5 mx-auto">
        <div class="big-text pb-1">Rangkuman Data</div><br>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Jenis Kelaman</th>
                        <th scope="col">Address</th>
                        <th scope="col">Province</th>
                        <th scope="col">Kecamatan</th>
                        <th scope="col">Kelurahan</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Tempat Lahir</th>
                        <th scope="col">Agama</th>
                        <th scope="col">Pekerjaan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in tabel %}
                        <tr>
                            <th scope="row">{{ x.name }}</th>
                            <td>{{ x.gender }}</td>
                            <td>{{ x.address }}</td>
                            <td>{{ x.province }}</td>
                            <td>{{ x.kecamatan}}</td>
                            <td>{{ x.kelurahan}}</td>
                            <td>{{ x.date_birth}}</td>
                            <td>{{ x.date_place}}</td>
                            <td>{{ x.agama}}</td>
                            <td>{{ x.pekerjaan}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>



</body>

</html>
